.container {
  margin-top: 3%;
  margin-left: 7%;
  margin-right: 7%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  width: 90%;
}

.card {
  text-align: center;
  width: 80%;
  /* color: #502d05; */

  background-color: #f3e3cf;
  /* border: 3px solid #fbf0e4; */
  /* border-radius: 10%; */

  padding: 5px;
  /* font-weight: bold; */
}
.image {
  width: 100%;
}
.text {
  margin-top: 3%;
  text-align: left;
}
